@charset "UTF-8";
/* Variable */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Явное наследование стилей для инпутов */
input,
textarea,
select,
button {
  font: inherit;
}

/* Super-Center */
.pos-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Form Button */
.form-button {
  margin-top: 25px;
  width: 100%;
  height: 48px;
  padding: 13px 0;
  background: #6979f8;
  border-radius: 6px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
}

/* Form Feedback */
.form-feedback {
  width: 481px;
  height: 392px;
  padding: 40px;
  background-color: #f7f5f9;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.form-feedback__title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
}

.form-feedback__input {
  margin-top: 25px;
  padding: 14px;
  width: 401px;
  height: 48px;
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  outline: 0;
  border: 0;
  border-radius: 6px;
  -webkit-transition: border 0.1s linear;
  transition: border 0.1s linear;
  /* &:valid:not(:placeholder-shown) {
      border: 1px solid #00c48c;

      //background-color: #7ddfc3;
    }
    &:invalid:not(:placeholder-shown) {
      border: 1px solid #ff647c;

      //background-color: #fdafbb;
    }
    */
}

.form-feedback__input::-webkit-input-placeholder {
  font-size: 15px;
  color: #D0C9D6;
}

.form-feedback__input:-ms-input-placeholder {
  font-size: 15px;
  color: #D0C9D6;
}

.form-feedback__input::-ms-input-placeholder {
  font-size: 15px;
  color: #D0C9D6;
}

.form-feedback__input::placeholder {
  font-size: 15px;
  color: #D0C9D6;
}

.form-feedback__input:focus {
  border: 1px solid #854fc8;
  width: 403px;
  height: 50px;
}
