/* Variable */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Super-Center */
.pos-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Button */
.button {
  padding: 13px 116px;
  background: #6979F8;
  border-radius: 6px;
  font-size: 17px;
  color: white;
}

/* Form Feedback */
.form-feedback {
  width: 401px;
  height: 312px;
  padding: 40px;
  background-color: #F7F5F9;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.form-feedback__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
}

.form-feedback__input {
  margin: 25px 0;
}
