/* Variable */

$form-bg: #F7F5F9;
$button-bg: #6979F8;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

// /* Container */
// .container {
//   height: 100vh;

//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

/* Super-Center */

.pos-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Button */

.button {
  padding: 13px 116px;

  background: $button-bg;
  border-radius: 6px;

  font-size: 17px;
  color: white;
}

/* Form Feedback */

.form-feedback {
  width: 401px;
  height: 312px;

  padding: 40px;

  background-color: $form-bg;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);

  border-radius: 12px;

  

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
  }

  &__input {
    margin: 25px 0;
  }
}