body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Container */
.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Feedback */

.form-feedback {
  width: 401px;
  height: 312px;

  padding: 40px;

  background: #F7F5F9;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);

  border-radius: 12px;

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
  }
}